{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1 class="my-4">Welcome to Thoughts Guru</h1>
    {% for post in posts %}
        <div class="card my-4">
            <div class="card-header">
                <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt="Author's profile picture" class="mr-3 rounded-circle" width="40" height="40">
                <span>{{ post.author.username }}</span>
                <span class="text-muted float-right">{{ post.date_posted.strftime('%Y-%m-%d') }}</span>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content[:200] }}{% if post.content|length > 200 %}...{% endif %}</p>
                <a href="{{ url_for('post', post_id=post.id) }}" class="btn btn-primary">Read More</a>
            </div>
            <div class="card-footer">
                <a href="{{ url_for('like_post', post_id=post.id) }}" class="btn btn-outline-primary">
                    Like
                </a>
                <span>{{ post.likes.count() }} Likes</span>
            </div>
        </div>
    {% endfor %}
    <div class="pagination justify-content-center">
        {{ pagination.links() }}
    </div>
{% endblock %}

